:root{
    --base-color: rgb(22, 87, 237);
    --base-variant:#f29108;
    --text-color:#ed1414;
    --secondary-text: #1137dd;
    --primary-color: #0af33d;
}

.darkmode{
    --base-color:#070b1d;
    --base-variant:#03050e;
    --text-color:#ffffff;
    --secondary-text: #a4a5b8;
    --primary-color: #3a435d;
}

* {
  margin: 0;
  padding: 0;
}

html{
  font-family: sans-serif;
}

body{
  min-height: 100vh;
  background-color: var(--base-color);
  color: var(--text-color);
}

header, section{
  padding: 70px min(50px, 7%);
}
section{
  background-color: var(--base-variant);
}
p{
  margin: 10px 0 20px 0;
  color: var(--secondary-text);
}

#theme-switch{
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--base-variant);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 20px;
  right: 20px;
}

#theme-switch svg{
  fill: var(--primary-color);
}
#theme-switch svg:last-child{
  display: none;
}
.darkmode #theme-switch svg:first-child{
  display: none;
}
.darkmode #theme-switch svg:last-child{
  display: block;
}