:root{
    --base-color: rgb(255, 255, 255);
    --base-variant:#526d8d;
    --text-color:#000000;
    --secondary-text: #000000;
    --primary-color: #ffffff;
}

.darkmode{
    --base-color:#070b1d;
    --base-variant:#03050e;
    --text-color:#ffffff;
    --secondary-text: #a4a5b8;
    --primary-color: #3a435d;
}

* {
  margin: 0;
  padding: 0;
}

html{
  font-family: sans-serif;
}

body{
  min-height: 100vh;
  background-color: var(--base-color);
  color: var(--text-color);
}

header, section{
  padding: 70px min(50px, 7%);
}
section{
  background-color: var(--base-variant);
}
p{
  margin: 10px 0 20px 0;
  color: var(--secondary-text);
}

#theme-switch{
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--base-variant);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 20px;
  right: 20px;
}

#theme-switch svg{
  fill: var(--primary-color);
}
#theme-switch svg:last-child{
  display: none;
}
.darkmode #theme-switch svg:first-child{
  display: none;
}
.darkmode #theme-switch svg:last-child{
  display: block;
}
.chart-container {
                position: relative;
                height: 300px;
                width: 100%;
                max-width: 800px;
                margin: 0 auto;
            }
            .chart-wrapper{
            flex: 1;
            min-width: 300px;
            max-width: 500px;
            }
            .dashboard-grid{
            display: flex;
            flex-wrap:wrap;
            justify-content: space-around;
            gap: 20px;
            padding: 20px;
            }
h2 { text-align: center; font-weight: normal; margin-bottom: 15px; }
            .chart-container p, #drilldown-view p { color: var(--secondary-text); margin-bottom: 20px; }

            #drilldown-view {
                display: none;
                text-align: center;
                background-color: var(--base-variant);
                min-height: 500px;
            }

            .back-btn {
                padding: 10px 20px;
                margin-bottom: 20px;
                background-color: var(--primary-color);
                color: rgb(0, 0, 0);
                border: none;
                border-radius: 4px;
                cursor: pointer;
            }


            /* --- Tutorial Specific Styles (Only inside Header) --- */

header .chartMenu {
     width: 100vw;
        height: 40px;
        background: #1A1A1A;
        color: rgba(54, 162, 235, 1);
}

header .chartMenu p {
    padding: 10px;
    font-size: 20px;
}

header .chartCard {
   width: 100vw;
        height: calc(100vh - 40px);
        background: rgba(54, 162, 235, 0.2);
        display: flex;
        align-items: center;
        justify-content: center;
}

header .chartBox {
    width: 700px;
    height: 100px;
        padding: 20px;
        border-radius: 20px;
        border: solid 3px rgba(54, 162, 235, 1);
        background: white;
}